[submodule "themes/cayman-hugo-theme"]
	path = themes/cayman-hugo-theme
	url = https://github.com/seebruecke-ismaning/cayman-hugo-theme
[submodule "themes/themes/cayman-hugo-theme"]
	path = themes/themes/cayman-hugo-theme
	url = https://github.com/seebruecke-ismaning/cayman-hugo-theme.git
